:root {
    /* Colors Dark Theme */
	--primary: #818cf8;
	--primary-hover: #6366f1;
	--secondary: #34d399;
	--background: #0f1522;
	--surface: #1e293b;
	--text-primary: #f1f5f9;
	--text-secondary: #94a3b8;
	--border: #334155;
	
	--blue-light: #84C9FF;
	--blue-dark: #0f1522;
	--yellow-light: #FFE33D;
}

html[data-theme="light"] {
    /* Colors Light Theme */
	--primary: #6366f1;
	--primary-hover: #4f46e5;
	--secondary: #10b981;
	--background: #f1f5f9;
	--surface: #ffffff;
	--text-secondary: #475569;
	--text-primary: #0f172a;
	--border: #e2e8f0;
}

:root {
	/* Other */
	--blue-dark-alf-80: rgb(from var(--blue-dark) r g b / 80%);

	--background-alf-10: rgb(from var(--background) r g b / 10%);
	--background-alf-25: rgb(from var(--background) r g b / 25%);
	--background-alf-50: rgb(from var(--background) r g b / 50%);
	--background-alf-75: rgb(from var(--background) r g b / 75%);

	--surface-alf-10: rgb(from var(--surface) r g b / 10%);
	--surface-alf-25: rgb(from var(--surface) r g b / 25%);
	--surface-alf-50: rgb(from var(--surface) r g b / 50%);
	--surface-alf-75: rgb(from var(--surface) r g b / 75%);

	/* Header */
	--logo-fill-color: var(--text-primary);

	/* Toggle Theme Button */
	--toggle-theme-bgc: var(--surface);
	--toggle-theme-circle: var(--text-primary);
	--toggle-theme-moon-fill: var(--blue-light);
	--toggle-theme-sun-fill: var(--yellow-light);

	/* Footer */
	--footer-bg: var(--surface-alf-25);

	/* Home Page */
	--selector-card-bg: var(--surface-alf-25);
	--selector-card-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
	--selector-card-shadow-hover: 4px 4px 20px 0 rgba(255, 255, 255, 0.25);
	--selector-card-outline-hover: var(--blue-light);

	/* Create Page */
	--content-wrapper-bg: var(--surface-alf-50);

	--question-item-bg: var(--background);
	--question-item-order-text: var(--background);
	--question-item-order-bg: var(--text-primary);
	--question-item-delete-icon: var(--text-primary);

	/* Modals */
	--modal-overlay-bg: var(--blue-dark-alf-80);
	--modal-content-bg: var(--surface);
	--modal-title-bg: var(--background);
	--modal-close-icon: var(--secondary);
	--modal-input-bg-dark: var(--background);
	--modal-button-bg-secondary: var(--secondary);
	--modal-button-text: var(--background);

	/* Icons */
	--icon-fill-primary: var(--primary);
	--icon-fill-secondary: var(--secondary);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
	color: var(--text-primary);
	background-color: var(--background);
}

/* Global Style Classes */

.container {
	width: 100%;
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

/* .logo {

} */

.main-content {
	margin-top: 30px;
}

.title-1 {
	font-weight: 600;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: var(--text-primary);
}

.block-title {
	padding: 6px 40px;
    margin: 0 auto;
    width: fit-content;

    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text-primary);

    border-radius: 30px;
    background-color: var(--surface);
}

.accent-secondary {
    color: var(--secondary);
}

.accent-primary {
    color: var(--primary);
}